@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap');
$background: #000000;
$card : #191c24;
$cardlow : #191c2496;
$li : #0f1015;
$border-box : 1px solid rgba(0, 0, 0, 0.125);
$primar-color : #1195dc;
$blue : #0d6efd;
$text : #ABABAB;
$secondary-color : #ba87cf;
$color : #fff;
$purple : #8e44ac;
$green : #29baa5;
$error: #cf6679;
$round : #ffffff2f;
$navtop : #191c24;
$dark-green : #00d25b;
$text-muted : #6c7293;
$rubik :'Rubik', sans-serif;
$li-color : #6c7293;
$poppins : 'Poppins', sans-serif;
$roboto :'Roboto', sans-serif;
$one : #662BFF;
$two : #A37FFF;
$three : #DDD0FF;