@import "variable";
.top-nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    background-color: #191c24;
    z-index: 1000;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-nav{
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 500ms ease;
    }
    .right-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 70px);
        height: 100%;
        position: relative;
        transition: all 500ms ease;
        .nav-toggle{
            width: 30px;
            height: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 5px;
            outline: none;
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            span{
                margin: 0;
                padding: 0;
                width: 25px;
                height: 3px;
                background-color: #6c7293;
                margin: 2px 0;
            }
        }
    }
}
.sidebar{
    width: 70px;
    min-height: 100vh;
    height: 100%;
    background-color: #191c24;
    position: relative;
    transition: all 500ms ease;
    margin: 0;
    padding: 0;
}
// background-color: #0f1015;
// #0d6efd
// box : #191c24
// border-box: 1px solid rgba(0, 0, 0, 0.125)