@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
$background: #190629;
$primar-color : #1195dc;
$blue : #0ebcf3;
$secondary-color : #ba87cf;
$color : #fff;
$purple : #8e44ac;
$green : #29baa5;
$error: #cf6679;
$round : #3d0e63;
$navtop : #340e538e;
// colors 
.green{
    &.background{
        background-color: $green;
    }
    &.color{
        color: $green;
    }
}
.purple{
    &.background{
        background-color: $purple;
    }
    &.color{
        color: $purple;
    }
}
.error{
    &.background{
        background-color: $error;
    }
    &.color{
        color: $error;
    }
}
.blue{
    &.background{
        background-color: $blue;
    }
    &.color{
        color: $blue;
    }
}

.form-main{
    width: 100vw;
    max-width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
// form css 
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 500px;
    max-height: fit-content;
    border-radius: 8px;
    margin: 10px 10px;
    padding: 5px 5px;
    background-color: $color;
    z-index: 100;
    position: relative;
    overflow: hidden;
    .register-form{
        position: relative;
        top: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        transition: all 500ms ease;
    }
    .login-form{
        position: relative;
        top: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: all 500ms ease;
    }
    .form-quote {
        width: 100%;
        max-width: 100%;
        max-height: fit-content;
        height: fit-content;
        padding: 10px 0;
        margin: 0;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'DM Sans', sans-serif;
        background-color: $background;
        color: $color;
        // background-image: url("https://images.pexels.com/photos/2045600/pexels-photo-2045600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        h1{
            margin: 0;
        padding: 0;
        }
    }
    .form-body {
        background-color: $color;
        width: 100%;
        height: fit-content;
        // padding: 10px 0;
        border-radius: 8px;
        margin: 10px 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .form-input {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        // align-items: center;
        position: relative;
        width: 90%;
        height: 55px;
        margin: 5px auto;
        padding: 5px 0;
    }
    .form-input-label {
        color: $background;
        position: absolute;
        top: 15px;
        transition: all 200ms ease;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .form-input-text {
        border: 0;
        z-index: 1;
        background-color: transparent;
        border-bottom: 2px solid $background;
        font: inherit;
        font-size: 18px;
        font-family: 'DM Sans', sans-serif;
        padding: 5px 0;
        &:focus,
        &:valid {
            outline: 0;
            border-bottom-color: $green;
            & + .form-input-label {
                color: $green;
                transform: translateY(-25px);
            }
        }
    }
    .form-btn{
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        color: $color;
        font-weight: 600;
        width: 90%;
        margin: 10px auto;
        background-color: $blue;
        box-shadow: none;
        padding: 15px 0;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
        &:hover{
            opacity: 0.7;
        }
    }
    .form-info{
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-family: 'DM Sans', sans-serif;
        padding: 5px 0;
        margin: 10px 0;
        // margin: 0;
        h4{
            display: block;
            margin: 0;
            padding: 0;
            color: $secondary-color;
            cursor: pointer;
            transition: all 200ms ease;
            &:hover{
                color: $green;
            }
        }
    }
}



// rounds 
.round{
    border-radius: 50%;
    position: fixed;
    background-color: $round;
    opacity: 0.5;
    &.one{
        width: 400px;
        height: 400px;
        top: 30%;
        left: -100px;
        animation: round-animation 4s infinite;
    }
    &.two{
        width: 300px;
        height: 300px;
        top: 10%;
        right: -100px;
        animation: round-animation 4s infinite;
    }
    &.three{
        width: 300px;
        height: 300px;
        top: 80%;
        right: -100px;
        animation: round-animation 4s infinite;
    }
}
@keyframes round-animation{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(30px);
    }
    60%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

