@import "variable";
.main-rooms-page{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .add-room{
        margin-top: 80px;
        width: calc(100% - 100px);
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 50px;
        margin-bottom: 20px;
        button{
            min-width: 100px;
            height: 40px;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            cursor: pointer;
            color: $color;
            svg{
                margin-right: 10px;
                height: 20px;
                width: 20px;
            }
        }
    }
    a{
        width: 90%;
        height: fit-content;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-decoration: none;
        border: none;
        position: relative;
        margin: 10px 0;
        &:nth-child(1){
            margin-top: 100px;
        }
    }
    .empty {
        width: 90%;
        height: 100vh;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 16px;
            color: $color;
            font-family: $poppins;
            font-weight: 300;
        }
    }
}
.main-room-card{
    width: 100%;
    padding: 5px 0;
    height: 130px;
    min-height: 130px;
    background-color: $cardlow;
    border-radius: 5px;
    display: flex;
    // margin: 10px 0;
    flex-direction: row;
    cursor: pointer;
    transition: all 300ms ease;
    border: 1px solid $cardlow;
    position: relative;
    &:hover{
        background-color: transparent;
        box-shadow: rgba(46, 46, 46, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h2{
            color: $color;
            font-family: $poppins;
            margin: 0;
            padding: 0;
            font-size: 30px;
            font-weight: 300;
            margin-left: 10px;
            margin-top: 5px;
        }
        h4{
            color: $li-color;
            font-family: $rubik;
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 200;
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }
    // .right{
    //     width: 20%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: center;
    //     i{
    //         font-size: 16px;
    //         color: $li-color;
    //         margin-right: 20px;
    //     }
    // }
}


